*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: 'Merriweather', serif;
    text-align: center;
}

.top-container {
    background-color: #C0EEE4;
    position: relative;
    padding-top: 100px;
    
    /* border: 10px solid blueviolet;
    width: 200px;
    height: 200px;
    padding: 20px; */
}

.nav{
    width: 100%;
    position: absolute;
    top: 0;
    background-color: #9fcfc4;
    padding: 5px;
}

.avatar{
    float: left;
    margin-left: 150px;
    width: 5rem;
    height: 5rem;
}

.navbar{
    float: right;
    list-style: none;
    margin-right: 150px;
    margin-top: 24px;
}

.nav-list{
    display: inline;
    font-size: 1.25rem;
}

h1{
    color:  #4b7c7c;
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem; /* 100% = 16px = 1em so 90px/16px =5.62*/
    font-weight: 500;
    margin: 50px auto 0 auto;
    /* margin: 0 auto;
    width: 10%; */
}

h2{
    color:  #4b7c7c;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-size: 2.5rem;
    padding-top: 10px;
}

h3{
    font-size: 1.5rem;
    color:  #11999E;
    font-family: 'Montserrat', sans-serif;
}

p{
    margin-top: 10px;
    line-height: 2;
}

.mountain{
    margin-bottom: 0;
}

.profile p{
    color: #40514E;
}

hr{
    border: dotted #EAF6F6 6px;
    border-bottom: none;
    width: 4%;
    margin: 50px auto;
}

.top-cloud{
    position: absolute;
    right: 180px;
    top: 100px;
}

.bottom-cloud{
    position: absolute;
    left: 180px;
    bottom: 300px;
    top: 310px;
}

.pro{
    text-decoration: underline;
}

.middle-container{
    margin: 100px 0;
}

.intro{
    width: 30%;
    margin: auto;
}

.bottom-container{
    background-color: #66BFBF;
    padding: 50px 0 20px;
}

.contact-message{
    width: 40%;
    margin: 40px auto 60px;
}

a{
    color:  #11999E;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
}
a:hover{
    color: #EAF6F6;
}

.skill-row{
    width: 50%;
    margin: 100px auto;
    text-align: left;
}

.code-img{
    width: 25%;
    float: left;
    margin-right: 30px;
}

.chilli-img{
    float: right;
    margin-left: 30px;
    width: 25%;
}

.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
.btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }

.copywrite{
    color: #EAF6F6;
    font-size: .75rem;
    padding: 20px 0;
    
}

/* Positioning Content */
/* 
.box{
    width: 100px;
    height: 100px;
}

#box1{
    position: relative;
    top: 100px;
    display: inline-block;
    
    position: absolute;
    top: 200px;
    left: 200px;
    background-color: red;
}

#box2{
    position: relative;
    left: 100px;
    display: inline-block;
    
    position: absolute;
    top: 100px;
    left: 100px;
    background-color: blue;
}

#box3{
    position: relative;
    bottom: 100px;
    left: 200px;
    display: inline-block;
    
    position: absolute;
    background-color: yellow;
} */